<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      O aplikaci
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">O aplikaci:</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <p>
        Meowrem ipsum dolor sit amcat, consectetur adipiscing catlit. Catibus purrisque vehicula. Nullam vitae nibh vitae nibh faucibus purrtitor. Curabitur vestibulum felis sit amet nisi bibendcatm. In non metus a orci auctor catpsum. Cat-tum felis, suscipit in maximus eget, feugiat at cat-cus. Fusce catperat a metus accumsan, in cursus ipsum laoreet.

        Suspendisse quis meowtis nunc. Catantium scelerisque massa, eu dictcat nullcat. Maecat vitae elit in lectus laoreet commodo. Proin cat-ent, felis vel tincatunt consectetur, neque leo dignisscat. Fusce ac metus sit amet justo cat-cus vulputate. Integer dictum cat purrtissim.

        Sed ac ante sed cat-cus facilisis. In tincidunt ligula quis risus iaculis catgna. Cat quis urna quis ligula catperat dignisscat. Fusce vel justo et nisl cat pellentesque catgna. Aenean meowauris dui, cat in purrttitor in, aliquam nec leo.

        Quisque felis arcu, consectetur cat-tempus vehicula nec, eleifend ut cat-ent. Vestibulum catum, massa a cat-cat dignisscat, massa purrtitor felis, sed consectetur lacus ex ac lacus. Nulla facilisi. Integer catgna felis nec ipsum laoreet, nec fringilla ipsum cat vel. Aliquam vel meow vitae massa ultricies consectetur. Mauris cursus nisl vel finibus cat-cus.
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
